<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../layouts/head%>
</head>

<body>
    <div class="super_container">
        <%-include("../../layouts/header")%>
        <%-include("../../layouts/menu")%>
        <%-include("../../layouts/home")%>
        <%-include("../../layouts/search")%>
        <div class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <form>
                        
                    </form>
                </div>
                <div class="col-sm-1"></div>
                <% include ../../layouts/footer%>
            </div>
        </div>
    </div>

    <%-include("../../layouts/javascript")%>
    <script type="text/javascript">
        /*==============================================THÔNG TIN CƠ BẢN==============================================*/
        /* Tỉnh thành phố */
        // Hà Nội
        var listQuanHuyenHaNoi = {
            "Quận Ba Đình": "Quận Ba Đình",
            "Quận Hoàn Kiếm": "Quận Hoàn Kiếm",
            "Quận Hai Bà Trưng": "Quận Hai Bà Trưng",
            "Quận Đống Đa": "Quận Đống Đa",
            "Quận Tây Hồ": "Quận Tây Hồ",
            "Quận Cầu Giấy": "Quận Cầu Giấy",
            "Quận Thanh Xuân": "Quận Thanh Xuân",
            "Quận Hoàng Mai": "Quận Hoàng Mai",
            "Quận Long Biên": "Quận Long Biên",
            "Huyện Từ Liêm": "Huyện Từ Liêm",
            "Huyện Thanh Trì": "Huyện Thanh Trì",
            "Huyện Gia Lâm": "Huyện Gia Lâm",
            "Huyện Đông Anh": "Huyện Đông Anh",
            "Huyện Sóc Sơn": "Huyện Sóc Sơn",
            "Quận Hà Đông": "Quận Hà Đông",
            "Thị xã Sơn Tây": "Thị xã Sơn Tây",
            "Huyện Ba Vì": "Huyện Ba Vì",
            "Huyện Phúc Thọ": "Huyện Phúc Thọ",
            "Huyện Thạch Thất": "Huyện Thạch Thất",
            "Huyện Quốc Oai": "Huyện Quốc Oai",
            "Huyện Chương Mỹ": "Huyện Chương Mỹ",
            "Huyện Đan Phượng": "Huyện Đan Phượng",
            "Huyện Hoài Đức": "Huyện Hoài Đức",
            "Huyện Thanh Oai": "Huyện Thanh Oai",
            "Huyện Mỹ Đức": "Huyện Mỹ Đức",
            "Huyện Ứng Hoà": "Huyện Ứng Hoà",
            "Huyện Thường Tín": "Huyện Thường Tín",
            "Huyện Phú Xuyên": "Huyện Phú Xuyên",
            "Huyện Mê Linh": "Huyện Mê Linh",
            "Quận/Huyện khác": "Quận/Huyện khác"
        };

        // Hồ Chí Minh
        var listQuanHuyenHoChiMinh = {
            "Quận 1": "Quận 1",
            "Quận 2": "Quận 2",
            "Quận 3": "Quận 3",
            "Quận 4": "Quận 4",
            "Quận 5": "Quận 5",
            "Quận 6": "Quận 6",
            "Quận 7": "Quận 7",
            "Quận 8": "Quận 8",
            "Quận 9": "Quận 9",
            "Quận 10": "Quận 10",
            "Quận 11": "Quận 11",
            "Quận 12": "Quận 12",
            "Quận Gò Vấp": "Quận Gò Vấp",
            "Quận Tân Bình": "Quận Tân Bình",
            "Quận Tân Phú": "Quận Tân Phú",
            "Quận Bình Thạnh": "Quận Bình Thạnh",
            "Quận Phú Nhuận": "Quận Phú Nhuận",
            "Quận Thủ Đức": "Quận Thủ Đức",
            "Quận Bình Tân": "Quận Bình Tân",
            "Huyện Bình Chánh": "Huyện Bình Chánh",
            "Huyện Củ Chi": "Huyện Củ Chi",
            "Huyện Hóc Môn": "Huyện Hóc Môn",
            "Huyện Nhà Bè": "Huyện Nhà Bè",
            "Huyện Cần Giờ": "Huyện Cần Giờ",
            "Quận/Huyện khác": "Quận/Huyện khác"
        };

        var chooseTinhThanhPho = document.getElementById('idTinhThanhPho');

        chooseTinhThanhPho.addEventListener('click', function () {
            if (chooseTinhThanhPho.value === 'Hà Nội') {
                renderQuanHuyen(listQuanHuyenHaNoi);
            }
            else if (chooseTinhThanhPho.value === 'Hồ CHí Minh') {
                renderQuanHuyen(listQuanHuyenHoChiMinh);
            }
            else {
                renderQuanHuyen({ "QUANHUYEN": "--Quận/Huyện--" });
            }
        });

        function renderQuanHuyen(listQuanHuyen) {
            var contentQuanHuyen = '';
            for (x in listQuanHuyen) {
                contentQuanHuyen += '<option value=' + x + '>' + listQuanHuyen[x] + '</option>';
            }
            document.getElementById('idQuanHuyen').innerHTML = contentQuanHuyen;
        }


        /* Loại */
        var contentLoaiDatBan = '<option value="Bán căn hộ chung cư">Bán căn hộ chung cư</option>' +
            '<option value="Bán nhà riêng">Bán nhà riêng</option>' +
            '<option value="Bán nhà mặt phố">Bán nhà mặt phố</option>' +
            '<option value="Bán kho, nhà xưởng">Bán kho, nhà xưởng</option>';

        var contentLoaiDatThue = '<option value="Cho thuê căn hộ chung cư">Cho thuê căn hộ chung cư</option>' +
            '<option value="Cho thuê nhà trọ, phòng trọ">Cho thuê nhà trọ, phòng trọ</option>' +
            '<option value="Cho thuê văn phòng">Cho thuê văn phòng</option>';

        /* Đơn vị */
        var listDonViBan = '<option value="Thỏa thuận">Thỏa thuận</option>' +
            '<option value="Triệu">Triệu</option>' +
            '<option value="Tỷ">Tỷ</option>' +
            '<option value="Trăm nghìn/m2">Trăm nghìn/m2</option>' +
            '<option value="Triệu/m2">Triệu/m2</option>';

        var listDonViThue = '<option value="Thỏa thuận">Thỏa thuận</option>' +
            '<option value="Trăm nghìn/Tháng">Trăm nghìn/Tháng</option>' +
            '<option value="Triệu/Tháng">Triệu/Tháng</option>' +
            '<option value="Trăm nghìn/m2/Tháng">Trăm nghìn/m2/Tháng</option>' +
            '<option value="Triệu/m2/Tháng">Triệu/m2/Tháng</option>' +
            '<option value="Nghìn/m2/Tháng">Nghìn/m2/Tháng</option>';

        var chooseHinhThuc = document.getElementById('idHinhThuc');
        chooseHinhThuc.addEventListener('click', function () {
            if (chooseHinhThuc.value == 'sell') {
                renderDonVi(listDonViBan);
                renderLoai(contentLoaiDatBan);
            }
            else if (chooseHinhThuc.value == 'rent') {
                renderDonVi(listDonViThue)
                renderLoai(contentLoaiDatThue);
            }
            else {
                renderLoai('<option value="">--Loại--</option>');
            }

        });

        function renderLoai(contentLoai) {
            document.getElementById('idLoai').innerHTML = contentLoai;
        }

        function renderDonVi(contentDonVi) {
            document.getElementById('idDonVi').innerHTML = contentDonVi;
        }

        /* Tổng giá tiền */
        var docGia = document.getElementById('idGia');
        var docDonVi = document.getElementById('idDonVi');
        var caculate = document.getElementById('idCaculate');

        caculate.addEventListener('click', function () {
            if (docDonVi.value === 'Thỏa thuận' && docGia.value !== '') {
                alert('Giá không được là "Thỏa Thuận"');
            }
            else {
                document.getElementById('idTongGiaTien').value = docGia.value + ' ' + docDonVi.value;
            }
        });

        /*=================================================CHI TIẾT=========================================*/
        var listHuongNha_BanCong = '<option value="">KXĐ</option>' +
            '<option value="Đông">Đông</option>' +
            '<option value="Tây">Tây</option>' +
            '<option value="Nam">Nam</option>' +
            '<option value="Bắc">Bắc</option>' +
            '<option value="Đông - Bắc">Đông - Bắc</option>' +
            '<option value="Tây - Bắc">Tây - Bắc</option>' +
            '<option value="Tây - Nam">Tây - Nam</option>' +
            '<option value="Đông - Nam">Đông - Nam</option>';

        function renderHuongNha_BanCong() {
            document.getElementById('idHuongNha').innerHTML = listHuongNha_BanCong;
            document.getElementById('idHuongBanCong').innerHTML = listHuongNha_BanCong;
        }

        renderHuongNha_BanCong();


    </script>

</body>

</html>