<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("../../layouts/head")%>
  </head>

  <body>
    <div class="super_container">
      <%-include("../../layouts/header")%> <%-include("../../layouts/menu")%>
      <%-include("../../layouts/home")%> <%-include("../../layouts/search")%>
      <main>
        <!-- Properties -->

        <div class="properties">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="section_title"><%= total %> Properties found</div>
                <div class="section_subtitle">Search your dream home</div>
              </div>
            </div>
            <div class="row properties_row">
                    <% if (locals.sells) for(let i=0;i<total; i++){ var sell = sells[i] %>
                     
                        <!-- Property -->
                        <div class="col-xl-4 col-lg-6 property_col">
                          <div class="property">
                              <div class="property_image">
                                  <img src="images/property_4.jpg" alt="">
                                  <% if (sell.hinhThuc==="rent"){ %>
                                  <div class="tag_offer property_tag"><a href="#">CHo thuê</a></div>
                                  <% } else { %>
                                  <div class="tag_featured property_tag"><a href="#">Bán nhà</a></div>
                                  <% } %>
                                </div>
                            <div class="property_body text-center">
                              <div class="property_location">
                                <%= sell.adress[0].thanhPho %>
                              </div>
                              <div class="property_title">
                                <a href="/api/sells/<%= sell._id %>"><%= sell.loai %></a>
                              </div>
                              <div class="property_price">
                                <%= sell.cost[0].gia %> <%= sell.cost[0].donVi %>
                              </div>
                            </div>
                            <div
                              class="property_footer d-flex flex-row align-items-center justify-content-start text-center"
                            >
                              <div>
                                <div class="property_icon">
                                  <img src="images/icon_1.png" alt="" />
                                </div>
                                <span><%= sell.dienTich %> m2</span>
                              </div>
                              <div>
                                <div class="property_icon">
                                  <img src="images/icon_2.png" alt="" />
                                </div>
                                <span><%= sell.chiTiet[0].soTang %> tầng</span>
                              </div>
                              <div>
                                <div class="property_icon">
                                  <img src="images/icon_3.png" alt="" />
                                </div>
                                <span><%= sell.chiTiet[0].soToilet %> toilet</span>
                              </div>
                            </div>
                          </div>
                        </div>
                    <% } %>
            </div>
        </div>
        <!-- Newsletter -->
      </main>
      <%-include("../../layouts/footer")%>
    </div>
    <%-include("../../layouts/javascript")%>
  </body>
</html>