<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../layouts/head%>
</head>


<body>
    <div class="super_container">
        <%-include("../../layouts/header")%>
        <%-include("../../layouts/menu")%>
        <%-include("../../layouts/home")%>
        <%-include("../../layouts/search")%>
        <div class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <form action="/api/sells" method="POST">
                        <div class="card text-white bg-info mb-3 col-sm-12">
                            <div class="card-header">
                                <h3>Thông tin cơ bản</h3>
                            </div>
                            <div class="card-body">

                                <div class="form-row">
                                    <div class="col-sm-2">
                                        <h5 style="line-height:40px">Hình thức:</h5>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <select name="hinhThuc" id="idHinhThuc" class="form-control">
                                            <option value="" selected>--Hình thức--</option>
                                            <option value="sell">Nhà đất bán</option>
                                            <option value="rent">Nhà đất cho thuê</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <h5 style="line-height:40px">Loại:</h5>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <select name="loai" id="idLoai" class="form-control">
                                            <option value="">--Loại--</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-sm-2">
                                        <h5 style="line-height:40px">Tỉnh/Thành phố:</h5>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <select name="thanhPho" id="idTinhThanhPho" class="form-control">
                                            <option value="Tỉnh/Thành Phố" selected>--Tỉnh/Thành phố--</option>
                                            <option value="Hà Nội">Hà Nội</option>
                                            <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <h5 style="line-height:40px">Quận/Huyện:</h5>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <select name="quan" id="idQuanHuyen" class="form-control">
                                            <option value="">--Quận/Huyện--</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-sm-2">
                                        <h5 style="line-height:40px">Địa chỉ:</h5>
                                    </div>
                                    <div class="col-sm-10">
                                        <input name="diachi" type="text" class="form-control" placeholder="Địa chỉ">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-sm-2">
                                        <h5 style="line-height:40px">Diện tích:</h5>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input name="dienTich" type="text" class="form-control" placeholder="--Diện tích--">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-sm-2">
                                        <h5 style="line-height:40px">Giá:</h5>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input name="gia" type="text" class="form-control" value='' id="idGia"
                                            placeholder="--Giá--">
                                    </div>
                                    <div class="col-sm-2">
                                        <h5 style="line-height:40px">Đơn vị:</h5>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <select name="donVi" id="idDonVi" class="form-control">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-sm-2">
                                        <h5 style="line-height:40px">Tổng giá tiền:</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" readonly id="idTongGiaTien">
                                    </div>
                                    <button type="button" class="btn btn-primary btn-sm col-sm-2" style="height: 50px"
                                        id="idCaculate">Caculate</button>
                                </div>


                            </div>
                        </div>

                        <div class="card text-white bg-info mb-3 col-sm-12">
                            <div class="card-header">
                                <h3>Thông tin mô tả</h3>
                            </div>

                            <div class="form-row">
                                <label for="exampleFormControlTextarea1" class="col-sm-12">Tối đa chỉ 3000 ký tự</label>
                                <div class="form-group col-sm-8">
                                    <textarea name="moTa" class="form-control" style="height:150px" id="exampleFormControlTextarea1"
                                        rows="3"></textarea>
                                </div>
                                <div class="col-sm-4">
                                    Giới thiệu chung về bất động sản của bạn. Ví dụ: Khu nhà có vị trí thuận lợi: Gần
                                    công
                                    viên, gần trường học ... Tổng diện tích 52m2, đường đi ô tô vào tận cửa.
                                    <p style="color:rgb(168, 226, 7)">Lưu ý: tin rao chỉ để mệnh giá tiền Việt Nam
                                        Đồng.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card text-white bg-info mb-3 col-sm-12">
                            <div class="card-header">
                                <h3>Chi tiết</h3>
                            </div>

                            <div class="form-row">
                                <label for="exampleFormControlTextarea1" class="col-sm-12">Quý vị nên điền đầy đủ thông
                                    tin vào các mục dưới đây để tin đăng có hiệu quả hơn
                                </label>
                            </div>

                            <div class="form-row">
                                <div class="col-sm-2">
                                    <h5 style="line-height:40px">Mặt tiền(m):</h5>
                                </div>
                                <div class="form-group col-md-4">
                                    <input name="matTien" type="text" class="form-control">
                                </div>
                                <div class="col-sm-2">
                                    <h5 style="line-height:40px">Đường vào(m):</h5>
                                </div>
                                <div class="form-group col-md-4">
                                    <input name="duongVao" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-sm-2">
                                    <h5 style="line-height:40px">Hướng nhà:</h5>
                                </div>
                                <div class="form-group col-md-4">
                                    <select name="huongNha" id="idHuongNha" class="form-control"></select>
                                </div>
                                <div class="col-sm-2">
                                    <h5 style="line-height:40px">Hướng ban công:</h5>
                                </div>
                                <div class="form-group col-md-4">
                                    <select name="huongBanCong" id="idHuongBanCong" class="form-control"></select>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-sm-2">
                                    <h5 style="line-height:40px">Số tầng:</h5>
                                </div>
                                <div class="form-group col-md-4">
                                    <input name="soTang" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-sm-2">
                                    <h5 style="line-height:40px">Số phòng ngủ:</h5>
                                </div>
                                <div class="form-group col-md-4">
                                    <input name="soPhongNgu" type="text" class="form-control">
                                </div>
                                <div class="col-sm-2">
                                    <h5 style="line-height:40px">Số toilet:</h5>
                                </div>
                                <div class="form-group col-md-4">
                                    <input name="soToilet" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-sm-2">
                                    <h5>Nội thất:</h>
                                </div>
                                <div class="form-group col-sm-10">
                                    <input name="noiThat" type="text" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="card text-white bg-info mb-3 col-sm-12">
                            <div class="card-header">
                                <h3>Hình ảnh và video</h3>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>

                        <div class="card text-white bg-info mb-3 col-sm-12">
                            <div class="card-header">
                                <h3>Lịch đăng tin</h3>
                            </div>

                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-sm-2">
                                        <h5 style="line-height:40px">Ngày bắt đầu:</h5>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input name="fromPost" type="date" class="form-control" id="idFromDate">
                                    </div>
                                    <div class="col-sm-2">
                                        <h5 style="line-height:40px">Ngày kết thúc:</h5>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input name="toPost" type="date" class="form-control" id="idToDate">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-sm-2">
                                        <h5 style="line-height:40px">Phí đăng bài:</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" readonly id="idPhiDangBai">
                                    </div>
                                    <button type="button" class="btn btn-primary btn-sm col-sm-2" style="height: 50px"
                                        id="idCaculatePDB">Caculate</button>

                                </div>
                                <hr>
                                <div class="form-row">
                                    <div class="col-sm-2">
                                        <h5 style="line-height:40px">Mệnh giá:</h5>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <select name="menhGia" id="idMenhGia" class="form-control">
                                            <option selected>--Mệnh giá--</option>
                                            <option value="50000">50000 đồng</option>
                                            <option value="100000">100000 đồng</option>
                                            <option value="200000">200000 đồng</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1">
                                        <h5 style="line-height:40px">Mã thẻ:</h5>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input name="idCard" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card text-white mb-3 col-sm-12" style="border: none">
                            <button type="submit" class="btn btn-info col-sm-6 btn-lg" style="margin: auto">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>

    <%-include("../../layouts/javascript")%>
    <script type="text/javascript">
        /*==============================================THÔNG TIN CƠ BẢN==============================================*/
        /* Tỉnh thành phố */
        // Hà Nội
        var listQuanHuyenHaNoi = {
            "Quận Ba Đình": "Quận Ba Đình",
            "Quận Hoàn Kiếm": "Quận Hoàn Kiếm",
            "Quận Hai Bà Trưng": "Quận Hai Bà Trưng",
            "Quận Đống Đa": "Quận Đống Đa",
            "Quận Tây Hồ": "Quận Tây Hồ",
            "Quận Cầu Giấy": "Quận Cầu Giấy",
            "Quận Thanh Xuân": "Quận Thanh Xuân",
            "Quận Hoàng Mai": "Quận Hoàng Mai",
            "Quận Long Biên": "Quận Long Biên",
            "Huyện Từ Liêm": "Huyện Từ Liêm",
            "Huyện Thanh Trì": "Huyện Thanh Trì",
            "Huyện Gia Lâm": "Huyện Gia Lâm",
            "Huyện Đông Anh": "Huyện Đông Anh",
            "Huyện Sóc Sơn": "Huyện Sóc Sơn",
            "Quận Hà Đông": "Quận Hà Đông",
            "Thị xã Sơn Tây": "Thị xã Sơn Tây",
            "Huyện Ba Vì": "Huyện Ba Vì",
            "Huyện Phúc Thọ": "Huyện Phúc Thọ",
            "Huyện Thạch Thất": "Huyện Thạch Thất",
            "Huyện Quốc Oai": "Huyện Quốc Oai",
            "Huyện Chương Mỹ": "Huyện Chương Mỹ",
            "Huyện Đan Phượng": "Huyện Đan Phượng",
            "Huyện Hoài Đức": "Huyện Hoài Đức",
            "Huyện Thanh Oai": "Huyện Thanh Oai",
            "Huyện Mỹ Đức": "Huyện Mỹ Đức",
            "Huyện Ứng Hoà": "Huyện Ứng Hoà",
            "Huyện Thường Tín": "Huyện Thường Tín",
            "Huyện Phú Xuyên": "Huyện Phú Xuyên",
            "Huyện Mê Linh": "Huyện Mê Linh",
            "Quận/Huyện khác": "Quận/Huyện khác"
        };

        // Hồ Chí Minh
        var listQuanHuyenHoChiMinh = {
            "Quận 1": "Quận 1",
            "Quận 2": "Quận 2",
            "Quận 3": "Quận 3",
            "Quận 4": "Quận 4",
            "Quận 5": "Quận 5",
            "Quận 6": "Quận 6",
            "Quận 7": "Quận 7",
            "Quận 8": "Quận 8",
            "Quận 9": "Quận 9",
            "Quận 10": "Quận 10",
            "Quận 11": "Quận 11",
            "Quận 12": "Quận 12",
            "Quận Gò Vấp": "Quận Gò Vấp",
            "Quận Tân Bình": "Quận Tân Bình",
            "Quận Tân Phú": "Quận Tân Phú",
            "Quận Bình Thạnh": "Quận Bình Thạnh",
            "Quận Phú Nhuận": "Quận Phú Nhuận",
            "Quận Thủ Đức": "Quận Thủ Đức",
            "Quận Bình Tân": "Quận Bình Tân",
            "Huyện Bình Chánh": "Huyện Bình Chánh",
            "Huyện Củ Chi": "Huyện Củ Chi",
            "Huyện Hóc Môn": "Huyện Hóc Môn",
            "Huyện Nhà Bè": "Huyện Nhà Bè",
            "Huyện Cần Giờ": "Huyện Cần Giờ",
            "Quận/Huyện khác": "Quận/Huyện khác"
        };

        var chooseTinhThanhPho = document.getElementById('idTinhThanhPho');

        chooseTinhThanhPho.addEventListener('click', function () {
            if (chooseTinhThanhPho.value === 'Hà Nội') {
                renderQuanHuyen(listQuanHuyenHaNoi);
            }
            else if (chooseTinhThanhPho.value === 'Hồ Chí Minh') {
                renderQuanHuyen(listQuanHuyenHoChiMinh);
            }
            else {
                renderQuanHuyen({ "QUANHUYEN": "--Quận/Huyện--" });
            }
        });

        function renderQuanHuyen(listQuanHuyen) {
            var contentQuanHuyen = '';
            for (x in listQuanHuyen) {
                contentQuanHuyen += '<option value=' + x + '>' + listQuanHuyen[x] + '</option>';
            }
            document.getElementById('idQuanHuyen').innerHTML = contentQuanHuyen;
        }


        /* Loại */
        var contentLoaiDatBan = '<option value="Bán căn hộ chung cư">Bán căn hộ chung cư</option>' +
            '<option value="Bán nhà riêng">Bán nhà riêng</option>' +
            '<option value="Bán nhà mặt phố">Bán nhà mặt phố</option>' +
            '<option value="Bán kho, nhà xưởng">Bán kho, nhà xưởng</option>';

        var contentLoaiDatThue = '<option value="Cho thuê căn hộ chung cư">Cho thuê căn hộ chung cư</option>' +
            '<option value="Cho thuê nhà trọ, phòng trọ">Cho thuê nhà trọ, phòng trọ</option>' +
            '<option value="Cho thuê văn phòng">Cho thuê văn phòng</option>';

        /* Đơn vị */
        var listDonViBan = '<option value="Thỏa thuận">Thỏa thuận</option>' +
            '<option value="Triệu">Triệu</option>' +
            '<option value="Tỷ">Tỷ</option>' +
            '<option value="Trăm nghìn/m2">Trăm nghìn/m2</option>' +
            '<option value="Triệu/m2">Triệu/m2</option>';

        var listDonViThue = '<option value="Thỏa thuận">Thỏa thuận</option>' +
            '<option value="Trăm nghìn/Tháng">Trăm nghìn/Tháng</option>' +
            '<option value="Triệu/Tháng">Triệu/Tháng</option>' +
            '<option value="Trăm nghìn/m2/Tháng">Trăm nghìn/m2/Tháng</option>' +
            '<option value="Triệu/m2/Tháng">Triệu/m2/Tháng</option>' +
            '<option value="Nghìn/m2/Tháng">Nghìn/m2/Tháng</option>';

        var chooseHinhThuc = document.getElementById('idHinhThuc');
        chooseHinhThuc.addEventListener('click', function () {
            if (chooseHinhThuc.value == 'sell') {
                renderDonVi(listDonViBan);
                renderLoai(contentLoaiDatBan);
            }
            else if (chooseHinhThuc.value == 'rent') {
                renderDonVi(listDonViThue)
                renderLoai(contentLoaiDatThue);
            }
            else {
                renderLoai('<option value="">--Loại--</option>');
            }

        });

        function renderLoai(contentLoai) {
            document.getElementById('idLoai').innerHTML = contentLoai;
        }

        function renderDonVi(contentDonVi) {
            document.getElementById('idDonVi').innerHTML = contentDonVi;
        }

        /* Tổng giá tiền */
        var docGia = document.getElementById('idGia');
        var docDonVi = document.getElementById('idDonVi');
        var caculate = document.getElementById('idCaculate');

        caculate.addEventListener('click', function () {
            if (docDonVi.value === 'Thỏa thuận' && docGia.value !== '') {
                alert('Giá không được là "Thỏa Thuận"');
            }
            else {
                document.getElementById('idTongGiaTien').value = docGia.value + ' ' + docDonVi.value;
            }
        });

        /*=================================================CHI TIẾT=========================================*/
        var listHuongNha_BanCong = '<option value="">KXĐ</option>' +
            '<option value="Đông">Đông</option>' +
            '<option value="Tây">Tây</option>' +
            '<option value="Nam">Nam</option>' +
            '<option value="Bắc">Bắc</option>' +
            '<option value="Đông - Bắc">Đông - Bắc</option>' +
            '<option value="Tây - Bắc">Tây - Bắc</option>' +
            '<option value="Tây - Nam">Tây - Nam</option>' +
            '<option value="Đông - Nam">Đông - Nam</option>';

        function renderHuongNha_BanCong() {
            document.getElementById('idHuongNha').innerHTML = listHuongNha_BanCong;
            document.getElementById('idHuongBanCong').innerHTML = listHuongNha_BanCong;
        }

        renderHuongNha_BanCong();

        /*=============================================Xử lý button caculate tính phí đăng bài================================*/
        var docFromDate = document.getElementById('idFromDate');
        var docToDate = document.getElementById('idToDate');

        idCaculatePDB.addEventListener('click', function () {
            var fromDate = new Date(docFromDate.value);
            var toDate = new Date(docToDate.value);

            var numberOfDay = toDate.getFullYear() * 365 + toDate.getMonth() * 30 + toDate.getDate() -
                fromDate.getFullYear() * 365 - fromDate.getMonth() * 30 - fromDate.getDate();

            if (numberOfDay < 0) {
                alert('Nhập ngày không hợp lệ');
            }
            else if (numberOfDay >= 0) {
                document.getElementById('idPhiDangBai').value = numberOfDay * 10000;
            }
            else {
                alert('Mời nhập ngày');
            }

        });
    </script>
    <% include ../../layouts/footer%>
</body>

</html>