<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../layouts/head%>
</head>

<body>
    <div class="super_container">
        <%-include("../../layouts/header")%>
        <%-include("../../layouts/menu")%>
        <%-include("../../layouts/home")%>
        <%-include("../../layouts/search")%>
        <div class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <form>
                        <div class="card text-white bg-info mb-3 col-sm-12">
                            <div class="card-header">
                                <h3>Thông tin cơ bản</h3>
                            </div>
                            <div class="card-body">

                                <div class="form-row">
                                    <div class="col-sm-2">
                                        <h5 style="line-height:40px">Hình thức:</h5>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <select name="hinhThuc" id="idHinhThuc" class="form-control">
                                            <option value="" selected>--Hình thức--</option>
                                            <option value="sell">Nhà đất bán</option>
                                            <option value="rent">Nhà đất cho thuê</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <h5 style="line-height:40px">Loại:</h5>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <select name="loai" id="idLoai" class="form-control">
                                            <option value="">--Loại--</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-sm-2">
                                        <h5 style="line-height:40px">Địa chỉ:</h5>
                                    </div>
                                    <div class="col-sm-10">
                                        <input name="diachi" type="text" class="form-control" placeholder="Địa chỉ">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-sm-2">
                                        <h5 style="line-height:40px">Diện tích:</h5>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input name="dienTich" type="text" class="form-control" placeholder="--Diện tích--">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-sm-2">
                                        <h5 style="line-height:40px">Giá từ:</h5>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input name="from" type="text" class="form-control" value='' id="idGiaTu"
                                            placeholder="--Từ--">
                                    </div>
                                    <div class="col-sm-2">
                                        <h5 style="line-height:40px">đến:</h5>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input name="to" type="text" class="form-control" value='' id="idGiaDen"
                                            placeholder="--Đến--">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card text-white bg-info mb-3 col-sm-12">
                            <div class="card-header">
                                <h3>Chi tiết</h3>
                            </div>

                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-sm-2">
                                        <h5>Tiêu đề:</h>
                                    </div>
                                    <div class="form-group col-sm-10">
                                        <input name="title" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label for="exampleFormControlTextarea1" class="col-sm-2">Nội dung:</label>
                                    <div class="form-group col-sm-10">
                                        <textarea name="noiDung" class="form-control" style="height:150px" id="exampleFormControlTextarea1"
                                            rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card text-white bg-info mb-3 col-sm-12">
                            <div class="card-header">
                                <h3>Lịch đăng tin</h3>
                            </div>

                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-sm-2">
                                        <h5 style="line-height:40px">Ngày bắt đầu:</h5>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input name="fromPost" type="date" class="form-control">
                                    </div>
                                    <div class="col-sm-2">
                                        <h5 style="line-height:40px">Ngày kết thúc:</h5>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input name="toPost" type="date" class="form-control">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-sm-2">
                                        <h5 style="line-height:40px">Phí đăng bài:</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" readonly id="idSoTienCanTra">
                                    </div>
                                    <button type="button" class="btn btn-primary btn-sm col-sm-2" style="height: 50px"
                                        id="idCaculateSTCT">Caculate</button>
                                </div>
                                <hr>
                                <div class="form-row">
                                    <div class="col-sm-2">
                                        <h5 style="line-height:40px">Mệnh giá:</h5>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <select name="menhGia" id="idMenhGia" class="form-control">
                                            <option selected>--Mệnh giá--</option>
                                            <option value="50000">50000 đồng</option>
                                            <option value="100000">100000 đồng</option>
                                            <option value="200000">200000 đồng</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1">
                                        <h5 style="line-height:40px">Mã thẻ:</h5>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input name="idCard" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card text-white mb-3 col-sm-12" style="border: none">
                            <button type="submit" class="btn btn-info col-sm-6 btn-lg" style="margin: auto">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
        <%-include("../../layouts/footer")%>
    </div>

    <%-include("../../layouts/javascript")%>
    <script type="text/javascript">
        /*==============================================THÔNG TIN CƠ BẢN==============================================*/
        /* Loại */
        var contentLoaiDatBan = '<option value="Bán căn hộ chung cư">Bán căn hộ chung cư</option>' +
            '<option value="Bán nhà riêng">Bán nhà riêng</option>' +
            '<option value="Bán nhà mặt phố">Bán nhà mặt phố</option>' +
            '<option value="Bán kho, nhà xưởng">Bán kho, nhà xưởng</option>';

        var contentLoaiDatThue = '<option value="Cho thuê căn hộ chung cư">Cho thuê căn hộ chung cư</option>' +
            '<option value="Cho thuê nhà trọ, phòng trọ">Cho thuê nhà trọ, phòng trọ</option>' +
            '<option value="Cho thuê văn phòng">Cho thuê văn phòng</option>';

        var chooseHinhThuc = document.getElementById('idHinhThuc');
        chooseHinhThuc.addEventListener('click', function () {
            if (chooseHinhThuc.value == 'sell') {
                renderLoai(contentLoaiDatBan);
            }
            else if (chooseHinhThuc.value == 'rent') {
                renderLoai(contentLoaiDatThue);
            }
            else {
                renderLoai('<option value="">--Loại--</option>');
            }
        });

        function renderLoai(contentLoai) {
            document.getElementById('idLoai').innerHTML = contentLoai;
        }


        /*=============================================Xử lý button caculate tính phí đăng bài================================*/
        var docFromDate = document.getElementById('idFromDate');
        var docToDate = document.getElementById('idToDate');

        idCaculatePDB.addEventListener('click', function () {
            var fromDate = new Date(docFromDate.value);
            var toDate = new Date(docToDate.value);

            var numberOfDay = toDate.getFullYear() * 365 + toDate.getMonth() * 30 + toDate.getDate() -
                fromDate.getFullYear() * 365 - fromDate.getMonth() * 30 - fromDate.getDate();

            if (numberOfDay < 0) {
                alert('Nhập ngày không hợp lệ');
            }
            else if (numberOfDay > 0) {
                document.getElementById('idPhiDangBai').value = numberOfDay * 10000;
            }
            else {
                alert('Mời nhập ngày');
            }
        });


    </script>

</body>

</html>