<!DOCTYPE html>
<html lang="en">

<head>
  <%-include("../../layouts/head")%>
</head>

<body>
  <div class="supper-container">
    <%-include("../../layouts/header")%>
    <%-include("../../layouts/menu")%>
    <%-include("../../layouts/home")%>
    <%-include("../../layouts/search")%>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class=" panel-heading">
              <h3 class="panel-title"></h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 col-lg-4">
            <div class="card">
                <% if(profile.user.avatar){ %>
              <div class="sidebar_realtor_image"><img src="<%= profile.user.avatar %>" width="100%" height="auto" alt="Avatar"></div>
              <% } %>
              <div class="sidebar_realtor_body text-center">
                <div class="sidebar_realtor_title"><a href="#"><%= profile.user.name %></a></div>
                <% if(profile.phone){ %>
                <div class="sidebar_realtor_phone"><span>call us: </span><%= profile.phone %> </div>
                <% } %>
              </div>
            </div>
            <div class="col-md-9  toppad  pull-right col-md-offset-3 ">
              <a href="edit.html">Edit Profile</a> &nbsp;
              <br>
            </div>
          </div>
          <div class=" col-md-9 col-lg-8">
            <table class="table table-user-information">
              <tbody>
                <tr>
                  <td>Name:</td>
                  <td><%= profile.user.name%></td>
                </tr>
                <tr>
                  <td>Birth Day:</td>
                  <td><%= profile.dateOfBirth %></td>
                </tr>
                <tr>
                  <td>Gender</td>
                  <td><%= profile.gender %></td>
                </tr>
                <tr>
                <tr>
                  <td>Address</td>
                  <% if(profile.adress.length>0){ %>
                  <td><%= profile.adress[0].diachi %>, <%= profile.adress[0].quan %>, <%= profile.adress[0].thanhPho %></td>
                  <% }else { %>
                    <td></td>
                    <% } %>
                </tr>
                <tr>
                  <td>Phone</td>
                  <% if(profile.phone){ %>
                  <td><%= profile.phone %></td>
                  <% }else { %>
                    <td></td>
                    <% } %>
                </tr>
                <tr>
                  <td>Email</td>
                  <td><a href=<%= profile.user.email %>><%= profile.user.email %></a></td>
                </tr>
                <td>Type Of</td>
                <td><%= profile.typeOf %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
  <%-include("../../layouts/footer")%>
</body>
<%-include("../../layouts/javascript")%>

</html>