<!DOCTYPE html>
<html lang="en">

<head>
  <%-include("../../layouts/head")%>
</head>

<body>
  <div class="supper-container">
    <%-include("../../layouts/header")%>
    <%-include("../../layouts/menu")%>
    <%-include("../../layouts/home")%>
    <%-include("../../layouts/search")%>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class=" panel-heading">
              <h3 class="panel-title">Sheena Shrestha</h3>
            </div>
          </div>
          <div class="col-md-9  toppad  pull-right col-md-offset-3 ">
            <A href="edit.html">Edit Profile</A>
            <A href="edit.html">Logout</A>
            <br>
            <p class=" text-info">May 05,2014,03:00 pm </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 col-lg-4">
            <div class="card">
              <div class="sidebar_realtor">
                <div class="sidebar_realtor_image"><img src="images/sidebar_realtor.jpg" width="360px" height="480px"
                    alt=""></div>
                <div class="sidebar_realtor_body text-center">
                  <div class="sidebar_realtor_title"><a href="#">Maria Williams</a></div>
                  <div class="sidebar_realtor_subtitle">Senior Realtor</div>
                  <div class="sidebar_realtor_phone"><span>call us: </span>652 345 3222 11</div>
                  <div class="realtor_link"><a href="#">+</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class=" col-md-9 col-lg-8">
            <table class="table table-user-information">
              <tbody>
                <tr>
                  <td>Department:</td>
                  <td>Programming</td>
                </tr>
                <tr>
                  <td>Hire date:</td>
                  <td>06/23/2013</td>
                </tr>
                <tr>
                  <td>Date of Birth</td>
                  <td>01/24/1988</td>
                </tr>

                <tr>
                <tr>
                  <td>Gender</td>
                  <td>Female</td>
                </tr>
                <tr>
                  <td>Home Address</td>
                  <td>Kathmandu,Nepal</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td><a href="mailto:info@support.com">info@support.com</a></td>
                </tr>
                <td>Phone Number</td>
                <td>123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
  <%-include("../../layouts/footer")%>
</body>
<%-include("../../layouts/javascript")%>
</html>